<!-- <script src='../javascripts/vendorstock.js'></script> -->
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Sold
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body class="">
    <div class="wrapper ">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <form action='/soldbillproduct/searchfilter' method="POST" style="width: 100%">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Sold Bill Product</h4>
                                    <p class="card-category"> This is a list of Sold Bill Product</p>
                                </div>
                                <div class="card-body">

                                    <div class="row" style="margin: 8px">
                                        <div class="col-4">
                                            Invoice no:
                                            <input type="text" class="form-control" value='0' name='invoiceno' id='invoiceno' placeholder="Invoice no.">
                                        </div>
                                        <div class="col-4">
                                            Brand
                                            <select name="brandid" id="brand" class="form-control" style="width: 100%"
                                              required  >
                                                <option value="0" >Select a brand</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            Model
                                            <select name="modelid" id="model" class="form-control" style="width: 100%"
                                               required >
                                                <option value="0">Select a Model</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 8px">
                                   
                                <div class="col-4">
                                    Imeino:
                                    <input type="text" class="form-control" name='imeino' id='imeino' placeholder="Imei no.">
                                </div>
                                
                                <div class="col-md-4">
                                    Minimum Price: <input type="text" id="pricefrom" name="pricefrom" class="form-control" placeholder='Starting Price'>
                                </div>
                                <div class="col-md-4">
                                    Maximum Price: <input type="text" id="priceto" name="priceto"  class="form-control" placeholder='Limiting Price'>
                                </div>

                            </div>
                            </div>

                            


                                    <div class="row" style="margin: 20px">
                                        <div class="col-md-3">
                                            From: <input type="date" id="date1" name="date1" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            To: <input type="date" id="date2" name="date2"  class="form-control">
                                        </div>
                                        <div class="col-2">
                                            Limit
                                            <select name="limit" id="limit" class="form-control" required style="width: 100%"
                                            required>
                                                
                                                <option  >5</option>
                                                <option  >10</option>
                                                <option  >25</option>
                                                <option  >50</option>
                                                <option  >100</option>
                                                <option  >200</option>
                                                <option  >300</option>
                                                <option  >500</option>
                                                <option  >700</option>
                                                <option  >800</option>
                                                <option  >900</option>
                                                <option  >1000</option>
                                                <option  >All</option>
                                                
                                            
                                            </select>
                                        </div>

                                        <div class="col-md-1" >
                                            <button class="btn btn-primary" type='submit' name="btn" value="Filter" id="searchByDate">
                                                Filter
                                            </button>
                                        </div>&nbsp;&nbsp;
                                        <div class="col-md-1">
                                            <input type='reset' class="btn btn-danger" id="reset">
                                        </div>&nbsp;&nbsp;
                                        <div class="col-md-1" >
                                            <button class="btn btn-info btn-" name="btn" type='submit' value="Download" id="Download">
                                                Download
                                            </button>
                                        </div>
                                        
                                    </div>
                                                 </form>

                    <h2 id="header"></h2>
                    <div class="table-responsive">

                        <table class="table" ></table>
                        <table class="table" id="myTable">

                            <thead class=" text-primary">
                                <th>
                                    Sr.
                                </th>
                                <th>
                                    Invoice No.
                                </th>
                                <th>
                                    Product-Type
                                </th>
                                <th>
                                    Brand-Name
                                </th>
                                <th>
                                    Model-Name
                                </th>
                                <th>
                                    Category-Name
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Imei-No.
                                </th>
                                <th>
                                Register-Date
                                </th>
                                
                                


                            </thead>
                            <tbody>
                                <% for(var i=0;i<=data.length-1;i++){
                                   %>
                                 
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= data[i].invoiceno %></td>
                                        <td><%= data[i].ptype %></td>
                                        <td><%= data[i].brandname %></td>
                                        <td><%= data[i].modelname %></td>
                                        <td><%= data[i].categoryname %></td>
                                        <td><%= data[i].color %></td>
                                        <td><%= data[i].price %></td>
                                        <td><%= data[i].qty %></td> 
                                        <td><%= data[i].imeimob %></td>
                                        <% 
                                                                              
                                        var rawstr = data[i].register_date;
                                        var str =rawstr.toString();
                                        var rawdate = str.split(' ');
                                        var finaldate = rawdate[0]+"  "+rawdate[2]+"-"+rawdate[1]+"-"+rawdate[3]+"  "+rawdate[4]
                                        
                                        %>
                                        <td><%= finaldate %></td>

                                    </tr>
    
                                </tbody>
    
                                <% }; %>
    
            

                        </table>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright float-right">
                &copy;
                &nbsp;Devloped By SHUBHAM SONI
            </div>
        </div>
    </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>

    <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Chartist JS -->
    <script src="/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
    <!-- <script src="/javascripts/sell.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        // Hover Color Chage Efects 
        $(document).ready(function () {
          
            $("tr").hover(function () {
                $(this).css("background-color", "#d3d3d3");
            }, function () {
                $(this).css("background-color", "white");
            });

            //for filter change
            $('#searchByDate').click(function(){
                console.log("enter")
                $.getJSON('../routes/soldbillproduct/searchfilter',{ajax:true,invoiceno:$('#invoiceno').val(),brandid:$('#brand').val(),modelid:$('#model').val(),date1:$('#date1').val(),date2:$('#date2').val(),pricefrom:$('#pricefrom'),priceto:$('#priceto')},function(){
                    console.log(data)
                    makeTable(data)
                    
           //    console.log(item)
      })
     
 
     
     
                     
                 })
             
                })
             
 

        
   
        


   //     On Click Show Bill Product On Top And Make Dnamic Table
        function myFunction(name, job) {

            const bdy = {
                mbl: job
            }
            $.post("/customer/custotalbill", bdy,
                function (data, status) {
                    console.log(data.result)

                    if (data.result == "FAIL") {
                        alert("FAIL");
                    } else {

                        var text = "";
                        var i;
                        text += `
                        
                        <thead>
                            
                                    <th>Sr.</th>
                                    <th>Product.</th>
                                    <th>Brand.</th>
                                    <th>Model-Name.</th>  
                                    <th>Model-No.</th> 
                                    <th>Color</th> 
                                    <th>Price</th>
                                    <th>IMEI</th> 
                                    <th>

                                        
                                        
                                        <li class="nav-item active  ">
                                            <a class="nav-link" href="/sold/prevbillshow/${data.result[0].invoiceno}" target="mw">
                                              <i class="material-icons">work</i>
                                              <p>Bill</p>
                                            </a>
                                          </li>
                                        
                                        
                                        </th>                                     
                               </thead>`
                        for (i = 0; i < data.result.length; i++) {
                            text += `                       
                        <tbody>
                            <tr>
                                <td>${i+1}</td>
                                <td>${data.result[i].ptype}</td>
                                <td>${data.result[i].brandname}</td>
                                <td>${data.result[i].modelname}</td>
                                <td>${data.result[i].modelno}</td>
                                <td>${data.result[i].color}</td>
                                <td>${data.result[i].price}</td>
                                <td>${data.result[i].imeimob}</td>
                            </tr>
                        </tbody>`;
                        }
                        document.getElementById("myTable").innerHTML = text;

                    }
                });
        }



        $.getJSON(`/brand/allJSON`, result => $.each(result, (i, item) =>
            $("#brand").append(`<option value="${item.id}">${item.name}</option>`)));

        var models = [];

        $.getJSON(`/model/allJSON`, result => models = result);

        $('#brand').change(() => {
            const data = models.filter(item => item.brandid == $('#brand').val())
            $("#model").empty();
            $("#model").append(`<option value="0">Select Model</option>`);
            $.each(data, (i, item) =>
                $("#model").append(`<option value="${item.id}">${item.name}</option>`))
        })



        $.getJSON(`/vendor/vendorall`, result => {
            console.log(result)
            $.each(result, (i, item) =>
                $("#vendorid").append(`<option value="${item.id}">${item.firmname}</option>`));

        });









        var fallBackDate = [];
         function change_date_formate(da) {
    date = new Date(da);
    year = date.getFullYear();
    month = date.getMonth() + 1;
    dt = date.getDate();

    if (dt < 10) {
        dt = '0' + dt;
    }
    if (month < 10) {
        month = '0' + month;
    }

    return (year + '-' + month + '-' + dt);
}

        function makeTable(data) {
            
    fallBackDate = data;
    var table = '';
    $.each(data, function (i, item) {
        if (1) {
            const date = change_date_formate(item.date_register);
            table += `<tr>
                <td>${i+1}</td>
                <td>
                   
                        ${item.vendor}
                   
                </td>
                <td>
                    ${item.model}
                </td>
                <td>
                    ${item.brand}
                </td>
                <td>
                   
                        ${item.imeino}
                    
                </td>
                <td>${change_date_formate(item.date_register)}
                    </td>
                    <td>
                    ${item.storename}</td>
            </tr>`
        }
    })

    $('#myTable').html(table);
}

    </script>
</body>

</html>